## Dependencias

In [1]:
import pandas as pd
import json #JSON = Java Script Object Notation
from sqlalchemy import create_engine
from sqlalchemy.types import VARCHAR,FLOAT,INTEGER,DATE,CHAR,DATETIME
import os

pd.set_option('display.max_columns',None)

## Credenciales

In [47]:
creds = json.load(open('credenciales_carga_nube.json','rb'))

In [48]:
creds.keys()

dict_keys(['user', 'password', 'servidor', 'bd'])

## Crear conexi√≥n a base de datos

In [49]:
url = f"mysql+pymysql://{creds['user']}:{creds['password']}@{creds['servidor']}/{creds['bd']}"
cnx = create_engine(url,encoding='utf8')
cnx = cnx.connect()

In [50]:
cnx.closed

False

## Lectura y limpieza de datos

In [51]:
ruta = "~/Documentos/bd/Insurance claim fraud/insurancefraud.csv"

In [52]:
df = pd.read_csv(ruta)

In [53]:
df.shape

(15420, 33)

In [54]:
df.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Age,Fault,PolicyType,VehicleCategory,VehiclePrice,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Days_Policy_Accident,Days_Policy_Claim,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,21,Policy Holder,Sport - Liability,Sport,more than 69000,0,1,12,300,1,more than 30,more than 30,none,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,34,Policy Holder,Sport - Collision,Sport,more than 69000,0,2,15,400,4,more than 30,more than 30,none,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,47,Policy Holder,Sport - Collision,Sport,more than 69000,0,3,7,400,3,more than 30,more than 30,1,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,65,Third Party,Sedan - Liability,Sport,20000 to 29000,0,4,4,400,2,more than 30,more than 30,1,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability
4,Jan,5,Monday,Honda,Urban,Tuesday,Feb,2,Female,Single,27,Third Party,Sport - Collision,Sport,more than 69000,0,5,3,400,1,more than 30,more than 30,none,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994,Collision

In [55]:
tiposDeDato = [CHAR(3),INTEGER,VARCHAR(9),VARCHAR(9),CHAR(5),VARCHAR(9),VARCHAR(3),INTEGER,VARCHAR(6),VARCHAR(8),INTEGER,
VARCHAR(13),VARCHAR(20),VARCHAR(7),VARCHAR(15),INTEGER,VARCHAR(5),INTEGER,INTEGER,INTEGER,VARCHAR(12),
VARCHAR(12),VARCHAR(11),VARCHAR(11),VARCHAR(8),VARCHAR(3),VARCHAR(3),CHAR(8),VARCHAR(11),VARCHAR(14),VARCHAR(11),INTEGER,VARCHAR(10)
]

In [58]:
df.to_sql(con=cnx,name='fraud',dtype=dict(zip(df.columns,tiposDeDato)),index=False,if_exists='replace',chunksize=1000)

15420